.DS_Store
venv
listener

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
*.abi
*.bin

databackup
broadcast
# MongoDB 本地数据 (startdb.sh docker 挂载)
data/
*config.json
*config.yaml
